[submodule "demo_system"]
	path = demo_system
	url = https://github.com/boschresearch/sunrise.demo_system.git
[submodule "dataformats"]
	path = dataformats
	url = https://github.com/boschresearch/sunrise.dataformats.git
